.title h1 {
  padding: 10px;
  background-color: #5c96cc;
  font-family: 'Satisfy', cursive;
  font-size: 56px;
}

.movieList img {
  height: 300px;
  width: 200px;
  margin: 15px auto;
}

.movieList .movieTitle {
  width: 200px;
  height: 15px;
  padding: 20px 0px;
  text-align: center;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-weight: bold;
}

.movieList {
	width: 250px;
	background-color: #acadb5;
	border: 1px solid #000;
}

.container .searchBar {
	margin: 40px 0;
	width: 100%;
}

.searchBar input {
	width: 80%;
}

.searchBar button {
	width: 20%;
}

.searchBar input, .searchBar button {
	font-size: 24px;
	font-family: 'Sawarabi Mincho', sans-serif;
	padding: 4px 10px;
}