.title h1 {
  padding: 10px;
  background-color: #5c96cc;
  font-family: 'Amatic SC', cursive;
  font-size: 56px;
}

.movieList img {
  height: 300px;
  width: 200px;
  margin: 20px auto;
}

.movieList .movieTitle {
  width: 200px;
  padding: 10px;
}

.movieList {
	width: 250px;
	background-color: #acadb5;
	border: 1px solid #fff;
}

.container .searchBar {
	margin: 40px 0;
	width: 100%;
}

.searchBar input {
	width: 80%;
}

.searchBar button {
	width: 20%;
}

.searchBar input, .searchBar button {
	font-size: 24px;
	font-family: 'Amatic SC', cursive;
	padding: 4px;
	font-weight: bold;
}