.title h1 {
  padding: 10px;
  background-color: #5c96cc;
  font-family: 'Amatic SC', cursive;
  font-size: 56px;
}

.btn-info {
  margin: 0 2px;
}

.synonyms {
  margin: 10px;
}

.movieList img {
  height: 300px;
  width: 200px;
  margin: 20px auto;
}

.movieList .movieTitle {
  width: 200px;
  padding: 10px;
}

.movieCard {
	width: 250px;
}